.body-container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.card-container{
    width: 80vw;
    display: inline-flex;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.card-categoria {
    background-color: skyblue;
    margin: 5px;
    display: block;
    width: auto;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #000;
    font-size: 12px;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}