.container-nav-web {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FEFFDE;
    height: 15vh;
}

.container-nav-edit{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #9c9c9c;
    height: 9vh;
}

.menu{
    padding: 10px;
    width: 60%;
}

.menu img:hover {
    background-color: #41B9D0;
    border-radius: 10px;
}

.menu img {
    width: 40px;
}

.logo{
    margin: 10px;
    font-size: 14px;
}

.logo-img-web{
    width: 180px;
}

.btn-ws{
    display: flex;
}

.btn-ws p{
    margin: auto 5px;
    font-size: 2.5rem;
}

.btn-ws img {
    width: 30px;
    margin-left: 10px;
}

.container-btn-envio {
    border: 2px solid #20b664;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-btn-envio:hover {
    background-color: #20b66473;
}

.btn-envio{
    display: flex;
}

.btn-envio i, .btn-ws i, .btn-envio-card, .btn-ws{
    margin: auto;
}

.btn-envio p{
    margin: auto 5px;
    font-size: 1.5rem;
}

.body-envio{
    margin: 5px auto;
}

.nav-item-edit{
    border-radius: 10px;
    font-size: 14px;
}
.nav-item-edit:hover{
    background: #bababa;
    box-shadow: 2px 2px 4px #969696;
}
.nav-link{
    color: black;
}

.offcanvas-backdrop{
    display: none;
}

div .offcanvas-envio{
    width: 100%;
    height: 80vh;
    box-shadow: 2px 2px 8px;
}

.offcanvas-end{
    transform: scaleX(.5);
}

.line-close{
    color: red;
}

.envio-titulo{ 
    margin: auto;
}
.line-close:hover{
    border: solid red;
    border-radius: 50%;
    background-color: rgb(255, 215, 215);
}

.offcanvas-body-card{
    width: 350px;
    margin: auto;
    height: 70%;
}

@media (max-width: 800px) {
    
    .logo img {
        width: 160px;
        margin-right: 20px;
    }
    
    .btn-ws img{
        width: 20px;
    }
}

