
.container-nav-web {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FEFFDE;
    height: 15vh;
}

.container-nav-edit{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #9c9c9c;
    height: 9vh;
}

.menu{
    padding: 10px;
    width: 60%;
}

.menu img:hover {
    background-color: #41B9D0;
    border-radius: 10px;
}

.menu img {
    width: 40px;
}

.logo{
    margin: 10px;
    font-size: 14px;
}

.logo-img-web{
    width: 180px;
}

.btn-ws {
    border: 1px solid;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px;
}

.btn-ws p {
    font-size: 2rem;
    margin: 0;
}

.btn-ws img {
    width: 30px;
    margin-left: 10px;
}

.container-btn-ws a {
    color: black;
    text-decoration: none;
}

.nav-item-edit{
    border-radius: 10px;
    font-size: 14px;
}
.nav-item-edit:hover, .logo:hover{
    background: #bababa;
    box-shadow: 2px 2px 4px #969696;
}
.nav-link{
    color: black;
}

@media (max-width: 800px) {
    
    .logo img {
        width: 160px;
        margin-right: 20px;
    }
    
    .btn-ws p{
        font-size: 1.5rem;
    }
    .btn-ws img{
        width: 20px;
    }
    }