<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        <a class="logo" href="/">
            <img src="/img/logo.png" class="d-inline-block align-top logo-img" title="Home">
        </a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item-edit">
                <a class="nav-link" href="/edit/user">User</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item-edit">
                <a class="nav-link" href="/edit/categoria">Categoria</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item-edit">
                <a class="nav-link" href="/edit/upload">Cargar productos</a>
            </li>
        </ul>
    </div>
</nav>