<div class="container-newCategoria">
    <div class="container-newCategoria-formulario">
        <form action="/edit/categoria" method="post" enctype="multipart/form-data">
            <label for="tipo">Nueva Categoria</label>
            <input type="text" name="tipo">
            <button>Guardar</button>
        </form>
    </div>
</div>