
<button class="btn btn-primary btn-envio" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
    <i class="material-icons">local_shipping</i>
    <p>Envios fuera de la ciudad</p>
</button>

<div class="offcanvas offcanvas-end offcanvas-envio" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
<div class="offcanvas-header">
    <h2 class="envio-titulo">Envios a Colombia</h2>
    <button type="button" class="btn text-reset" data-bs-dismiss="offcanvas" aria-label="Close">
        <i class="material-icons line-close">close</i>
    </button>
</div>

<hr color="gray" style="border-radius: 10%; width: 90%; margin: auto;">

<div class="offcanvas-body">
    <div class="offcanvas-body-card">
        <img src="/img/img-envio.jpg" alt="Imagen de referencia de un kit de decoracion">
        <div class="offcanvas-body-texto">
            <div class="body-text-info-envio">
                <p>
                    Añade un toque de encanto a tu próxima celebración con estas bonitas decoraciones de temática. Estos artículos serán una adición elegante a tu fiesta.
                </p>
                <p>El precio NO INCLUYE el costo de envío cuyo valor es determinado por mercado envíos. Será un gusto atenderlos.</p>
            </div>
            <button class="btn btn-success btn-ws" onclick="location.href='https://wa.link/9prm56'">
                <i class="material-icons">call</i>
                <p>Contacto</p>
            </button>
        </div>
    </div>
</div>

</div>