<div class="body-container">
    <div class="card-container">
        <% images.forEach(function (image) { %>
            <div class="card-categoria">
                lass nuevas categorias
            </div>
        <% }) %>
    </div>
</div>