<nav>
    <a class="logo" href="/">
        <img src="/img/logo.png" class="d-inline-block align-top logo-img" title="Home">
    </a>
    <div class="container-btn-ws btn-text-detalle">
        <h2><i><b>Llamanos :</b></i></h2><p>311 387 8439 - 304 527 8842</p>
        <a href="https://goo.gl/maps/9N9xyKmmKj7oWPAH6" title="Como llegar" class="btn-text-llegar" title="Ir a mapa"><u> Calle 8 # 12-18 Centro </u><br> Guadalajara de Buga</a>
    </div>
</nav>