<nav class="container-nav-web">
    <a class="logo" href="/">
        <img src="/img/logo.png" class="logo-img-web">
    </a>
    <div class="container-btn-envio" title="Evianos un mensaje">
        <button class="btn btn-ws" onclick="location.href='https://wa.link/9prm56'">
            <img src="/img/ws.svg" alt="whatsapp" title="Escribenos" style="width: 30x;">
            <p>LLamanos</p>
        </button>
    </div>
</nav>