<nav class="container-nav-web">
    <a class="logo" href="/">
        <img src="/img/logo.png" class="logo-img-web">
    </a>
    <div class="container-btn-envio" title="Evianos un mensaje">
        <button class="btn btn-success btn-ws" onclick="location.href='https://wa.link/9prm56'">
            <i class="material-icons">call</i>
            <p>Escribenos</p>
        </button>
    </div>
</nav>