<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Image Profle</title>
    <%- include("partials/head") -%>
</head>

<body>

    <div class="container-form">
        <form action="">
            <h1>Bienvenid@ !</h1>
            <label for="nombre">
                Nombre :
            </label>
            <input type="text" class="input-user" placeholder="Escrbibir usuario">
            <label for="Contraseña :">
                Contraseña :
            </label>
            <input type="text" class="input-user" placeholder="Escribir clave">
            <button>Enviar</button>
        </form>
    </div>

</body>

</html>